* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 850px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 25px #29909d;
    overflow: hidden;
}

.form-box {
    flex: 1;
    padding: 40px;
}

.form-box h1 {
    margin-bottom: 30px;
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}
.input-box  a{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #29909d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #29909d;
    text-decoration: none;
}
