<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='WhatsApp Image 2025-12-28 at 11.51.07 PM.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
</head>
<body>
<div id="first">
    <marquee behavior="" direction="left"> <div>Latest News:   22 January 2026  Check Your Result 
       </div></marquee>
       <!-- <div>
        <h4 id="new">Latest News</h4>
       </div>  -->
    </div>
    <div id="second">
     <a href="mailto:apexlearninghub2020@gmail.com"><p id="gmail">&#9993 apexlearninghub2020@gmail.com</p></a> 
    </div>
<header class="top-header">
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='WhatsApp Image 2025-12-28 at 11.51.07 PM.jpeg') }}" alt="class Logo">
            <h1>APEX LEARNING HUB</h1>
        </div>
        <div class="right">
            <div class="call">
                <i class="fa-solid fa-phone"></i>
                <span class="number">Call Us<br><a href="tel:+919421554793"><b>+919421554793</b></a></span>
            </div>
            <a href="login.html"><button class="login-btn">Login</button></a>
        </div>

    </div>
    <nav class="menu">
    <ul>
        <li><a href="localhome.html">Home</a></li>
        <li class="dropdown">
            <a href="#">Course</a>
            <ul class="dropdown1">
                <li class="dropdown2">
                    <a href="academic.html">Academics</a>
                    <ul>
                        <li><a href="NHTCET.html">MHTCET</a></li>
                        <li><a href="NEET.html">NEET</a></li>
                        <li><a href="JEE.html">JEE</a></li>
                        <li><a href="V.html">tutorial of V</a></li>
                        <li><a href="VI.html">Tutorial of VI</a></li>
                        <li><a href="VII.html">Tutorial of VII</a></li>
                        <li><a href="VIII.html">Tutorial of VIII</a></li>
                        <li><a href="IX.html">Tutorial of IX</a></li>
                        <li><a href="X.html">Tutorial of X</a></li>
                        <li><a href="XI.html">Tutorial of XI</a></li>
                        <li><a href="XII.html">Tutorial of XII</a></li>
                    </ul>
                </li>
                <li class="dropdown3">
                 <a href="nonacademic.html">Nonacademics</a>
                 <ul>
                    <li><a href="KVPY.html">KVPY</a></li>
                    <li><a href="NAVODAYA.html">NAVODAYA</a></li>
                    <li><a href="SAINIKI.html">SAINIKi</a></li>
                    <li><a href="OLYMPIADS.html">OLYMPIADS</a></li>
                 </ul>
                </li>
            </ul>
        </li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="event.html">Events</a></li>
        <li><a href="result.html">Result</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
</header>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>
<div class="title">
                <h2>About Us</h2>
            </div>
    <div class="section">
        <div class="container1">
            <div class="content-section">
                <div class="content">
                    <h2>Apex Learning Hub in Nashik is one of the leading businesses in the Education Consultants. Also known for Home Tutors, Education Consultants, Educational Institutes and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Apex learning Hub, Nashik</h2>
                    <p>Apex learming Hub is a leading educational institute in Nasik that focuses on providing personalized attention and quality education to students, They believe in respecting the individuality of each child and strive to nurture their knowledge and potential.With energetic and supportive faculties, they motivate and guide students towards their future goals.Apex learning Hub conducts classes for CBSE, ICSE, SSC Maharashtra Board, and HSC Maharashtra Board, offering flexible batch timings to suit the availability and suitability of parents and students. The institute is known for its excellent teaching staff, especially in the fields of science and math, who explain concepts clearly and help students overcome their doubts. The friendly and caring nature of the teachers ensures that students feel
                    comtortable and motivated to learn Apex learning Hub is considered the best place to lay a strong foundation for JEE and NEEr preparations.With a focus on self- paced learning, the institute aims to
                    revolutionize the education industry and help students achieve their best.
                    </p>
                    <p>Business summary
                    Home Tutor preparing students for exams such as IBPS RRB, NEET
                    <br/>
                    Year of Establishment:
                    2020
                    </p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <!-- <div class="social">
                    <a href="#"><i class="fa-brands fa-google"></i> </a>
                    <a href="#"><i class="fa-brands fa-instagram"></i> </a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i> </a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i> </a>
                </div> -->
            </div>
            <div class="image-section">
                <img src="{{ url_for('static', filename='image copy 2.png') }}">
            </div>
        </div>
    </div>
</body>
<!-- <div id="empty">
</div> -->
<footer class="footer">
    <div class="footer-top">
        <div class="footer-box">
            <h3>Links</h3>
            <ul>
                <a href="localhome.html"><li>Home</li></a>
                <a href="event.html"><li>Events</li></a>
                <a href="aboutus.html"><li>About Us</li></a>
                <a href="contact.html"><li>Contact Us</li></a>
            </ul>
        </div>
        <div class="footer-box">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href=" https://wa.me/919421554793"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/share/183weznzH8/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://g.co/kgs/Pj85AHs"><i class="fab fa-google-plus-g"></i></a>
                <a href="https://www.linkedin.com/company/apex-learning-hub/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/apexlearninghub?utm_source=qr&igsh=eXloamM1MTJ1MTU="> <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="footer-box">
            <a href="feedback.html"><h3 class="feed">Feedback</h3></a>
            <div class="complain">     
             <a href="complain.html"><i class="fas fa-pen"></i></a> 
             <a href="complain.html"><span>Complain</span></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <div class="info">
            <i class="fas fa-phone"></i>
            <div id="numberclick">
                <strong>Contact</strong>
                <a href="tel:+919421554793"><br>
                +919421554793</a>
                <br>
                <a  href="tel:+919421554793">+918928772435</a>
            </div>
        </div>
        <div class="info">
            <i class="fas fa-envelope"></i>
            <div>
                <strong>Email Us</strong>
                 <a href="mailto:apexlearninghub2020@gmail.com"><br>
                apexlearninghub2020@gmail.com</a>
            </div>
        </div>
        <div class="info">
            <i class="fas fa-location-dot"></i>
            <div>
                <strong>Address</strong><br>
                <a href=https://maps.app.goo.gl/UhYGeb6NUFumRkJm9><p>2nd Floor, 'Guru Mauli', <br>Near HP Petrol Pump, Meri - Rasbihari Link Road, Nashik -<br>422003</p></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        © Apex Leraning Hub 2026 All rights reserved
    </div>
</footer>
</html>