{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='responsive.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='aboutus.css')}}">
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="title">
    <h2>About Us</h2>
</div>
<div class="section">
    <div class="container1">
        <div class="content-section">
            <div class="content">
                <h2>Apex Learning Hub in Nashik is one of the leading businesses in the Education Consultants. Also
                    known for Home Tutors, Education Consultants, Educational Institutes and much more. Find Address,
                    Contact Number, Reviews & Ratings, Photos, Maps of Apex learning Hub, Nashik</h2>
                <p>Apex learming Hub is a leading educational institute in Nasik that focuses on providing personalized
                    attention and quality education to students, They believe in respecting the individuality of each
                    child and strive to nurture their knowledge and potential.With energetic and supportive faculties,
                    they motivate and guide students towards their future goals.Apex learning Hub conducts classes for
                    CBSE, ICSE, SSC Maharashtra Board, and HSC Maharashtra Board, offering flexible batch timings to
                    suit the availability and suitability of parents and students. The institute is known for its
                    excellent teaching staff, especially in the fields of science and math, who explain concepts clearly
                    and help students overcome their doubts. The friendly and caring nature of the teachers ensures that
                    students feel
                    comtortable and motivated to learn Apex learning Hub is considered the best place to lay a strong
                    foundation for JEE and NEEr preparations.With a focus on self- paced learning, the institute aims to
                    revolutionize the education industry and help students achieve their best.
                </p>
                <p>Business summary
                    Home Tutor preparing students for exams such as IBPS RRB, NEET
                    <br />
                    Year of Establishment:
                    2020
                </p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
            </div>
            <!-- <div class="social">
                    <a href="#"><i class="fa-brands fa-google"></i> </a>
                    <a href="#"><i class="fa-brands fa-instagram"></i> </a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i> </a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i> </a>
                </div> -->
        </div>
        <div class="image-section">
            <img src="{{ url_for('static', filename='image copy 2.png') }}">
        </div>
    </div>
</div>
</body>
<!-- <div id="empty">
</div> -->
{% endblock %}