{% extends "base.html" %}

{% block title %}Contact Us - Apex Learning Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<header class="header">
    <h1>Contact Us</h1>
</header>

<section class="contact">
    <div class="container1">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <a href=https://maps.app.goo.gl/UhYGeb6NUFumRkJm9>
                        <p>2nd Floor, 'Guru Mauli', <br>Near HP Petrol Pump, Meri - Rasbihari Link Road, Nashik
                            -<br>422003</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa-solid fa-phone"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <a href="tel:+919421554793"><strong>+919421554793</strong><br>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <a href="mailto:apexlearning@gmail.com">
                        <p>&#9993 apexlearninghub2020@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form method="POST" action="{{ url_for('contact') }}">
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="name" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="email" name="email" required="required">
                    <span> Email</span>
                </div>
                <div class="inputBox">
                    <textarea name="message" required="required"></textarea>
                    <span>Type Your Message..</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
<div id="empty">
</div>
{% endblock %}