{% extends "base.html" %}

{% block title %}Our Courses | Coaching Center{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='responsive.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='course.css')}}">
{% endblock %}

{% block content %}
<section class="courses">
        <div class="course-card">
             <a href="V.html"><h2>Tutorials for V</h2></a>
            <!-- <p>Perfect for beginners. Build strong basics.</p>
            <ul>
                <li>Duration: 3 Months</li>
                <li>Weekly Tests</li>
                <li>Doubt Sessions</li>
            </ul>
            <span class="price">₹3,999</span>
            <button>Enroll Now</button> -->
        </div>

        <div class="course-card">
             <a href="VI.html"><h2>Tutorials for VI</h2></a>
            <!-- <p>For serious learners aiming high.</p>
            <ul>
                <li>Duration: 6 Months</li>
                <li>Daily Practice</li>
                <li>1-on-1 Mentoring</li>
            </ul>
            <span class="price">₹7,999</span>
            <button>Enroll Now</button> -->
        </div>

        <div class="course-card">
             <a href="VII.html"><h2>Tutorials for VII</h2></a>
            <!-- <p>Quick revision before exams.</p>
            <ul>
                <li>Duration: 1 Month</li>
                <li>Exam Tips</li>
                <li>Mock Tests</li>
            </ul>
            <span class="price">₹1,999</span>
            <button>Enroll Now</button> -->
        </div>

        <div class="course-card">
             <a href="VIII.html"><h2>Tutorials for VIII</h2></a>
            <!-- <p>Perfect for beginners. Build strong basics.</p>
            <ul>
                <li>Duration: 3 Months</li>
                <li>Weekly Tests</li>
                <li>Doubt Sessions</li>
            </ul>
            <span class="price">₹3,999</span>
            <button>Enroll Now</button> -->
        </div>
        <div class="course-card">
             <a href="IX.html"><h2>Tutorials for IX</h2></a>
            <!-- <p>Perfect for beginners. Build strong basics.</p>
            <ul>
                <li>Duration: 3 Months</li>
                <li>Weekly Tests</li>
                <li>Doubt Sessions</li>
            </ul>
            <span class="price">₹3,999</span>
            <button>Enroll Now</button> -->
        </div>

        <div class="course-card">
             <a href="X.html"><h2>Tutorials for X</h2></a>
            <!-- <p>Perfect for beginners. Build strong basics.</p>
            <ul>
                <li>Duration: 3 Months</li>
                <li>Weekly Tests</li>
                <li>Doubt Sessions</li>
            </ul>
            <span class="price">₹3,999</span>
            <button>Enroll Now</button> -->
        </div>

        <div class="course-card">
             <a href="XI.html"><h2>Tutorials for XI</h2></a>
            <!-- <p>Perfect for beginners. Build strong basics.</p>
            <ul>
                <li>Duration: 3 Months</li>
                <li>Weekly Tests</li>
                <li>Doubt Sessions</li>
            </ul>
            <span class="price">₹3,999</span>
            <button>Enroll Now</button> -->
        </div>

        <div class="course-card">
            <a href="XII.html"><h2>Tutorials for XII</h2></a>
            <!-- <p>Perfect for beginners. Build strong basics.</p>
            <ul>
                <li>Duration: 3 Months</li>
                <li>Weekly Tests</li>
                <li>Doubt Sessions</li>
            </ul>
            <span class="price">₹3,999</span>
            <button>Enroll Now</button> -->
        </div>
    </section>
    <div id="empty">
</div>
{% endblock %}
