{% extends "base.html" %}

{% block title %}Document{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='responsive.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='gallery.css')}}">
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="name">
        <h1>Our Gallery</h1>
        <p>OUR SHINING STARS</p>
    </div>
    <section class="courses">
        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 5.png') }}">
        </div>

        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 8.png') }}">
        </div>

        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 9.png') }}">
        </div>

        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 10.png') }}">
        </div>
            
        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 11.png') }}">
        </div>
            
        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 12.png') }}">
        </div>

        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 6.png') }}">
        </div>

        <div class="course-card">
            <img id="im" src="{{ url_for('static', filename='image copy 5.png') }}">
        </div>

    </section>
    <div id="empty">
</div>
{% endblock %}
